{% extends 'base.html.twig' %}

{% block title %}{% trans %}user.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 20pt">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{% trans %}user.title{% endtrans %}</h3>
                                <small><b>{% trans %}user.data.protection.info{% endtrans %}</b> </small>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label">{% trans %}user.identifier{% endtrans %}</label>
                                    <div class="col-8">
                                        <label for="username" class="form-control here">{{ user.userIdentifier }}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">{% trans %}user.email{% endtrans %}</label>
                                    <div class="col-8">
                                        <label for="username" class="form-control here">{{ user.email }}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="website" class="col-4 col-form-label">{% trans %}user.phone{% endtrans %}</label>
                                    <div class="col-8">
                                        <label for="username" class="form-control here">{{ user.phone }}</label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <a href="{{ path('modify_planner_info') }}">
                                            <button class="btn btn-primary">{% trans %}modify.your.info{% endtrans %}</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
