{% extends 'base.html.twig' %}

{% block title %}{% trans %}user_modify.title{% endtrans %}{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="container" style="padding-top: 20pt">
    <h3>{% trans %}user_modify.title{% endtrans %}</h3>
    {% if error is defined %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="save" class="btn btn-primary">{% trans %}user_modify.change{% endtrans %}</button>
            <a href="{{ path('profile') }}">
                <button type="button" value="cancel" class="btn btn-outline-primary">{% trans %}user_modify.cancel{% endtrans %}</button>
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}