{% extends 'base.html.twig' %}

{% block title %}{% trans %}courses.title{% endtrans %}{% endblock %}


{% block javascripts %}
<script src="{{ asset('/public/javascript/showMap.js') }}?0.0.1"></script>
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 20pt">
        <h2 class="text-center">{% trans %}courses.title{% endtrans %}</h2>
        <div class="border border-secondary rounded">
            {% for course in courses %}
                <div class="list-group list-group-item-action d-flex flex-row flex-wrap justify-content-end align-items-center p-2">
                    <div class="d-flex flex-column mr-auto" style="max-width: 35vw;">
                        <span style="overflow-wrap: break-word;">{{ course.name }}</span>
                        <span style="overflow-wrap: break-word; color: #d24300; font-size: 0.90em;">{{ course.club }}</span>
                        <span class="flex-shrink-1 badge badge-primary badge-pill">{% trans %}course.number_of_routes{% endtrans %}: {{ course.orienteer|length }}</span>
                    </div>
                    {% if course.printable %}
                        <button onclick="downloadMap('{{ course.image }}')" class="btn btn-secondary">{% trans %}course.print.map{% endtrans %}</button>
                    {% endif %}
                    <a href="{{ path('show_info', {id: course.id}) }}" class="ml-2 btn btn-primary">{% trans %}course.show.info{% endtrans %}</a>
                    <a href="{{ path('show_tracks', {id: course.id}) }}" class="ml-2 btn btn-primary">{% trans %}course.show.tracks{% endtrans %}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
