{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/public/leaflet/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/leaflet/easy-button.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/css/tabs.css') }}"/>
    <style>
        .route {
            width: 100%;
            background-color: white;
            border-left: 0;
            border-top: 0;
            border-bottom: 0;
            border-right: 20px solid white;
            padding: 10px 5px;
            margin-bottom: 2px;
            font-size: 14px;
            cursor: pointer;
            color: var(--primary);
        }

        .table th, td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/public/javascript/addCourse.js') }}"></script>
    <script src="{{ asset('/public/javascript/showMap.js') }}?0.0.1"></script>
    <script src="{{ asset('/public/leaflet/leaflet.js') }}"></script>
    <script src="{{ asset('/public/leaflet/ImageOverlay.rotated.js') }}"></script>
    <script src="{{ asset('/public/leaflet/easy-button.js') }}"></script>

    <script>
        let divLeaflet, map, overlay;
        let overlayOpacity = 100;
        let imageURL;

        function showMap() {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "{{ route_map }}");
            xhr.onload = function () {
                let data = JSON.parse(xhr.response);
                imageURL = data.image;
                console.log("image = " + data.image);
                previewMap(data, document.getElementById("map-div"), divLeaflet, map, overlay, new Image(0, 0));
            };
            xhr.send()
        }

        function switchMapDisplay() {
            let hideButton = document.getElementById("hide-map");
            let showButton = document.getElementById("show-map");
            if (overlayOpacity === 100) {
                overlayOpacity = 0;
                hideButton.style.display = "block";
                showButton.style.display = "none";
            } else {
                overlayOpacity = 100;
                hideButton.style.display = "none";
                showButton.style.display = "block";
            }
            overlay.setOpacity(overlayOpacity);
        }

        window.addEventListener("load", function () {
            divLeaflet = document.createElement("div");
            map = generateMap(divLeaflet);
            overlay = L.imageOverlay.rotated("/none", L.latLng([-5, -5]), L.latLng([5, 5]), L.latLng([-5, 5]));
            overlay.addTo(map);
            showMap();
        });
    </script>

{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top:20pt">
        <h2 class="text-center">{{ name }}</h2>
        <div class="row align-items-start" style="">
            <div class="col" style="width:100%">
                <div class="tab">
                    <button class="tab-links" onclick="openTab('tab1', 'map-tab')" id="tab1">{% trans %}course.menu.map{% endtrans %}</button>
                    <button class="tab-links" onclick="openTab('tab2', 'description-tab')" id="tab2">{% trans %}course.menu.info{% endtrans %}</button>
                </div>

                <!-- Tab content -->
                <div id="map-tab" class="tab-content">
                    <button class="btn btn-primary" id="show-map" onclick="switchMapDisplay(overlay, 100)" style="position: absolute; z-index: 9999; top: 60px; right: 35px">{% trans %}course.description.mask.map{% endtrans %}</button>
                    <button class="btn btn-primary" id="hide-map" onclick="switchMapDisplay(overlay, 0)" style="display:none; position: absolute; z-index: 9999; top: 60px; right: 35px">{% trans %}course.description.show.map{% endtrans %}</button>
                    {% if isPrintable %}
                        <button class="btn btn-primary" onclick="downloadMap(imageURL)" style="position: absolute; z-index: 9999; top: 105px; right: 35px">{% trans %}course.description.download{% endtrans %}</button>
                    {% endif %}
                    <div id="map-div" style="min-width: 300px">
                    </div>
                    <p id="map-not-found" class="alert alert-danger" style="display : none">{% trans %}course.error.map.not.found{% endtrans %}</p>
                </div>

                <div id="description-tab" class="tab-content list-group">
                    <div class="d-flex">
                        <div class="">
                            <p>{% trans %}course.description.author{% endtrans %} {{ creator }}</p>
                            {% if club != null %}
                                <p>{% trans %}course.description.club.name{% endtrans %} {{ club }}</p>
                            {% endif %}
                            {% if app.request.locale == 'fr' %}
                                <p>{% trans %}course.description.date{% endtrans %} {{ day }}/{{ month }}/{{ year }}</p>
                            {% else %}
                                <p>{% trans %}course.description.date{% endtrans %} {{ month }}/{{ day }}/{{ year }}</p>
                            {% endif %}
                            <p>{% trans %}course.description.control.point.number{% endtrans %} {{ control_point_number }}</p>
                            <p>{% trans %}course.description.length{% endtrans %} {{ length }} m</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function openTab(tabTitle, tabId) {
            let i, tabContent, tabLinks;
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            tabLinks = document.getElementsByClassName("tab-links");
            for (i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
            }
            document.getElementById(tabId).style.display = "block";
            document.getElementById(tabTitle).className += " active";
        }

        document.getElementById("tab1").click();
    </script>
{% endblock %}
