{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <div class="container text-center" style="padding-top: 20pt">
        <h2>{{ name }}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <div class=" border rounded" style="padding: 20px">
                <h5>{% trans %}course.notPublished.message{% endtrans %}</h5>
                {% trans %}course.notPublished.timeLeft.message{% endtrans %} :
                {{ dayLeft }} {% trans %}course.notPublished.timeLeft.day{% endtrans %} {{ timeLeft }}
            </div>
        </div>
    </div>
{% endblock %}
