{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/public/leaflet/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/leaflet/easy-button.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/css/tabs.css') }}"/>
    <style>
        .route {
            width: 100%;
            background-color: white;
            border-left: 0;
            border-top: 0;
            border-bottom: 0;
            border-right: 20px solid white;
            padding: 10px 5px;
            margin-bottom: 2px;
            font-size: 14px;
            cursor: pointer;
            color: var(--primary);
        }

        .table th, td {
            text-align: center;
        }

        .custom-file-label {
            opacity: 0;
        }

        .custom-file-input {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/public/javascript/addCourse.js') }}"></script>
    <script src="{{ asset('/public/javascript/showMap.js') }}?0.0.1"></script>
    <script src="{{ asset('/public/javascript/courseTrack.js') }}"></script>
    <script src="{{ asset('/public/javascript/courseTimeSheet.js') }}"></script>
    <script src="{{ asset('/public/javascript/courseFiles.js') }}"></script>
    <script src="{{ asset('/public/javascript/colorPicker.js') }}"></script>
    <script src="{{ asset('/public/leaflet/leaflet.js') }}"></script>
    <script src="{{ asset('/public/leaflet/ImageOverlay.rotated.js') }}"></script>
    <script src="{{ asset('/public/leaflet/leaflet-gpx.vikazimut.js') }}"></script>
    <script src="{{ asset('/public/leaflet/easy-button.js') }}"></script>

    <script>
        let translations = {
            'start': '{{ 'timeSheet.start' | trans | escape('js') }}',
            'finish': '{{ 'timeSheet.finish' | trans | escape('js') }}',
            'duration': '{{ 'timeSheet.duration' | trans | escape('js') }}',
            'distance': '{{ 'timeSheet.distance' | trans | escape('js') }}',
            'controlPoint': '{{ 'timeSheet.control.point' | trans | escape('js') }}',
            'length': '{{ 'timeSheet.length' | trans | escape('js') }}',
            'pace': '{{ 'timeSheet.pace' | trans | escape('js') }}',
            'total': '{{ 'timeSheet.total' | trans | escape('js') }}',
            'mean': '{{ 'timeSheet.mean' | trans | escape('js') }}',
            'speed': '{{ 'timeSheet.speed' | trans | escape('js') }}',
        }
        const colorPicker = new ColorPicker();
        const tableEnable = false;
        let gpxDictionary = {};
        const buttonDictionary = {};
        let divLeaflet, overlay;
        let timeSheetData = [];
        let displayedFormat = 0;

        function showMap(map, overlay) {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "{{ route_map }}");
            xhr.onload = function () {
                let data = JSON.parse(xhr.response);
                previewMap(data, document.getElementById("map-div"), divLeaflet, map, overlay, new Image(0, 0));
            };
            xhr.send()
        }

        function showTimeSheet() {
            const divTable = document.getElementById("time-sheet-div");
            while (divTable.lastElementChild) {
                divTable.removeChild(divTable.lastElementChild);
            }
            const controlPointData = JSON.parse({{ control_points_location|json_encode|raw }});
            divTable.appendChild(renderTimeSheet(controlPointData["distances"]));
        }

        window.addEventListener("load", function () {
            divLeaflet = document.createElement("div");
            const map = generateMap(divLeaflet);
            overlay = L.imageOverlay.rotated("/none", L.latLng([-5, -5]), L.latLng([5, 5]), L.latLng([-5, 5]));
            overlay.addTo(map);
            showMap(map, overlay);
            showTimeSheet();
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "{{ route_track }}");
            xhr.onload = function () {
                let data = JSON.parse(xhr.response);
                if (data.tracks.length === 0) {
                    let div = document.getElementById("empty-track-list-message");
                    div.hidden = false;
                } else {
                    let div = document.getElementById("track-form");
                    div.hidden = false;

                    let divTracks = document.getElementById("side-menu-collapse");
                    let index = 0;
                    data.tracks.forEach(function (result) {
                        let pseudo = result[0];
                        let totalTimeInMs = result[1];
                        let gpxTrace = result[2];
                        let punchedPoints = result[3];
                        let courseFormat = result[4];
                        let splitTimes = result[5];
                        let distances = result[6];
                        let paces = result[7];
                        let imported = result[8];

                        let pm = false;
                        for (let i = 1; i < punchedPoints.length; i++) {
                            if (punchedPoints[i]["punchTime"] === 0) {
                                pm = true;
                            }
                        }

                        let trackButton = document.createElement("button");
                        trackButton.className = "route";
                        let seconds = Math.floor((totalTimeInMs / 1000) % 60);
                        let minutes = Math.floor((totalTimeInMs / (1000 * 60)) % 60);
                        let hours = Math.floor((totalTimeInMs / (1000 * 60 * 60)) % 24);
                        seconds = (seconds < 10 ? "0" + seconds : seconds);
                        minutes = (minutes < 10 ? "0" + minutes : minutes);
                        trackButton.innerHTML = pseudo + " " + hours + ":" + minutes + ":" + seconds + " ";
                        if (imported) {
                            trackButton.innerHTML = trackButton.innerHTML + "[i]";
                        }
                        if (courseFormat > 0) {
                            trackButton.innerHTML = trackButton.innerHTML + "[L]";
                        }
                        if (pm) {
                            trackButton.innerHTML = trackButton.innerHTML + "*";
                        }
                        trackButton.value = String(index++);
                        trackButton.addEventListener("click", function (event) {
                            const element = event.target;
                            if (!gpxDictionary[element.value]) {
                                if (courseFormat === 1 || (courseFormat === 0 && displayedFormat === 1)) {
                                    displayedFormat = courseFormat;
                                    clearTimeSheet();
                                    clearTracks();
                                    clearDownloadButton(document.getElementById("export-tab"));
                                }
                                gpxDictionary[element.value] = addTrack(event, map, gpxTrace);
                                addTimeSheet(element.innerHTML, punchedPoints, splitTimes, distances, paces);
                                buttonDictionary[element.value] = addDownloadButton(event, element.innerHTML, gpxTrace, document.getElementById("export-tab"));
                            } else {
                                let gpxLayer = gpxDictionary[element.value][0];
                                removeTrack(event, map, gpxLayer);
                                removeTimeSheet(event, element.innerHTML);
                                removeDownloadButton(document.getElementById("export-tab"), buttonDictionary[element.value]);
                                delete gpxDictionary[element.value];
                                delete buttonDictionary[element.value];
                            }
                        });
                        divTracks.appendChild(trackButton);
                    });
                }
            };
            xhr.send();
        });
    </script>
{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:20pt">
        <div class="row align-items-start" style="">
            <div id="tracks" class="col" style="padding-top:10px;padding-bottom:10px; max-height: 100%; max-width: 25em;min-width: 18em">
                <h3 class="text-center">{{ name }}</h3>
                <div id="track-form" hidden>
                    <button class="btn btn-primary visible-xs dropdown-toggle" type="button" data-toggle="collapse" data-target="#side-menu-collapse" aria-expanded="true" aria-controls="side-menu-collapse" style="width: 100%;">
                        {% trans %}track.gpstracks{% endtrans %}
                    </button>
                    <div id="side-menu-collapse">
                    </div>
                </div>
                <p id="empty-track-list-message" hidden>
                    {% trans %}track.nogpstrackfound{% endtrans %}
                </p>
            </div>

            <div class="col" style="width:100%">
                <div class="tab">
                    <button class="tab-links" onclick="openTab('tab1', 'map-tab')" id="tab1">{% trans %}track.map{% endtrans %}</button>
                    <button class="tab-links" onclick="openTab('tab2', 'times-tab')" id="tab2">{% trans %}track.time{% endtrans %}</button>
                    <button class="tab-links" onclick="openTab('tab3', 'import-tab')" id="tab3">{% trans %}track.import{% endtrans %}</button>
                    <button class="tab-links" onclick="openTab('tab4', 'export-tab')" id="tab4">{% trans %}track.export{% endtrans %}</button>
                </div>

                <!-- Tab content -->
                <div id="map-tab" class="tab-content">
                    <button class="btn btn-primary" id="show-map" onclick="switchMapDisplay(overlay, 100)" style="position: absolute; z-index: 9999; top: 60px; right: 35px">{% trans %}course.description.mask.map{% endtrans %}</button>
                    <button class="btn btn-primary" id="hide-map" onclick="switchMapDisplay(overlay, 0)" style="display:none; position: absolute; z-index: 9999; top: 60px; right: 35px">{% trans %}course.description.show.map{% endtrans %}</button>
                    <div id="map-div" style="min-width: 300px"></div>
                    <p id="map-not-found" class="alert alert-danger" style="display : none">{% trans %}course.error.map.not.found{% endtrans %}</p>
                </div>
                <div id="times-tab" class="tab-content">
                    <div id="time-sheet-div" style="min-width: 300px"></div>
                </div>
                <div id="export-tab" class="tab-content" style="min-width: 300px">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans %}track.export.title{% endtrans %}</h3>
                    </div>
                </div>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                <div id="import-tab" class="tab-content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans %}track.import.title{% endtrans %}</h3>
                        </div>
                        <div class="panel-body">
                            {% form_theme form 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(form) }}
                            {{ form_row(form.nickname) }}
                            {{ form_row(form.format) }}
                            {{ form_row(form.gpx) }}
                            <button type="submit" class="btn btn-primary">{% trans %}track.import.submit{% endtrans %}</button>
                            {{ form_end(form) }}
                            {% if success!="" %}
                                <script>
                                    alert("{% trans %}track.import.success{% endtrans %}");
                                </script>
                            {% endif %}
                            {% if error!="" %}
                                {% if error=="invalid Gpx file" %}
                                    <script>
                                        alert("{% trans %}track.import.error.invalidGpxFile{% endtrans %}");
                                    </script>
                                    {% elseif error=="invalid Gpx ext" %}
                                    <script>
                                        alert("{% trans %}track.import.error.invalidGpxExt{% endtrans %}");
                                    </script>
                                    {% elseif error=="gpx track out of bound" %}
                                    <script>
                                        alert("{% trans %}track.import.error.gpxTrackOutOfBound{% endtrans %}");
                                    </script>
                                {% else %}
                                    <script>
                                        alert("Error : {{ error }}");
                                    </script>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openTab(tabTitle, tabId) {
            let i;
            let tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            let tabLinks = document.getElementsByClassName("tab-links");
            for (i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
            }
            document.getElementById(tabId).style.display = "block";
            document.getElementById(tabTitle).className += " active";
        }

        /*        {% if openImportTab==1 %}
        document.getElementById("tab3").click();
        {% else %}
        document.getElementById("tab1").click();
        {% endif %}*/
        document.getElementById("tab1").click();
    </script>
{% endblock %}
