{% extends 'base.html.twig' %}

{% block title %}{% trans %}course.preview{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/public/leaflet/leaflet.css') }}"/>
    <style>
        #map-div {
            height: 80vh;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/public/leaflet/leaflet.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top:20pt">
        <h2 class="text-center">{{ 'course.title'|trans({'%total%': total_courses}) }}</h2>
        <div class="col">
            <div id="map-div"></div>
        </div>
    </div>

    <script>
        // Get the location of the ip
        fetch("https://ipinfo.io/json")
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                let loc = myJson.loc;
                if (typeof (loc) != "undefined") {
                    let ipLocation = loc.split(",");
                    displayMap(ipLocation, 6);
                } else {
                    displayMap([0, 0], 2);
                }
            })
            .catch(function () {
                displayMap([0, 0], 2);
            });

        function displayMap(ipLocation, zoom) {
            let map = L.map('map-div', {
                minZoom: 1,
            });

            let osm = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                    noWrap: true
                });
            map.addLayer(osm);
            map.setView(new L.LatLng(ipLocation[0], ipLocation[1]), zoom);
            // Display dot on map
            let locations = [];
            {% for course in courses %}
            locations.push(["{{ course.latitude }}", "{{ course.longitude }}", "{{ course.name }}"]);
            {% endfor %}
            // Concatenate course at the same position
            const dots = [];
            const tooltips = [];
            locations.forEach(function (loc) {
                const location = [loc[0], loc[1]];
                const dotIndex = dots.findIndex(dot => dot.getLatLng().distanceTo(location) < 20 /* meters */);
                if (dotIndex < 0) {
                    let dot = L.circleMarker([loc[0], loc[1]], {
                        radius: 8.0,
                        fillColor: '#ff0000',
                        color: '#000000',
                        weight: 1,
                        opacity: 1.0,
                        fillOpacity: 0.8
                    }).addTo(map);
                    dots.push(dot);
                    tooltips.push(loc[2]);
                    dot.on("click", function () {
                        window.location.href = '{{ path('course') }}' + '/{' + loc[0] + '}-{' + loc[1] + "}";
                    });
                } else {
                    tooltips[dotIndex] += "<br>" + loc[2];
                }
            });
            for (let i = 0; i < dots.length; i++) {
                let dot = dots[i];
                dot.on("mouseover", function (event) {
                    setTimeout(function () {
                        event.target.bindPopup(tooltips[i]).closePopup();
                    }, 2000);
                    event.target.bindPopup(tooltips[i]).openPopup();
                });
            }
        }
    </script>

{% endblock %}
