{% extends 'base.html.twig' %}

{% block title %}{% trans %}eventslist.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 20pt">
        <h2 class="text-center">{% trans %}eventslist.title{% endtrans %}</h2>
        <div class="border border-secondary rounded">
            {% for event in events %}
                <a href="{{ path('event_details', {id: event.id}) }}"
                   class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-secondary">{{ event.name }}
                    <span class="badge badge-primary badge-pill">Course : {{ event.eventCourses|length  }}, Participant : {{ event.participants|length  }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
