{% extends 'base.html.twig' %}

{% block title %}{% trans %}event.info.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container text-center" style="padding-top: 20pt">
        <h2>{{ event.name }}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <div class=" border rounded" style="padding: 20px">
                <h5 style="text-align: left">{% trans %}event.info.event_type{% endtrans %} :
                    {% if event.type == 0 %}
                        {% trans %}event.info.event_type.championship{% endtrans %}
                    {% elseif event.type == 1 %}
                        {% trans %}event.info.event_type.points{% endtrans %}
                    {% elseif event.type == 2 %}
                        {% trans %}event.info.event_type.cumulativeTime{% endtrans %}
                    {% endif %}</h5>
                <h5>{% trans %}event.info.courses{% endtrans %}</h5>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">{% trans %}event.info.courses_table.course{% endtrans %}</th>
                        <th scope="col">{% trans %}event.info.courses_table.order{% endtrans %}</th>
                        <th scope="col">{% trans %}event.info.courses_table.limit_time{% endtrans %}</th>
                        {% if event.type==0 or event.type == 1 %}
                            <th scope="col">{% trans %}event.info.courses_table.PM_penalty{% endtrans %}</th>
                            <th scope="col">{% trans %}event.info.courses_table.overtime_penalty{% endtrans %}</th>
                        {% elseif event.type==2 %}
                            <th scope="col">{% trans %}event.info.courses_table.PM_penalty_sec{% endtrans %}</th>
                            <th scope="col">{% trans %}event.info.courses_table.overtime_penalty_sec{% endtrans %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    {% for eventCourse in eventCourses %}
                        <tbody>
                        <tr>
                            <th scope="row"><a href="{{ path('show_info', {id: eventCourse.course.id}) }}" class="ml-auto btn btn-primary">{{ eventCourse.course.name }}</a></th>
                            <td>{% if eventCourse.format == 0 %}
                                    {% trans %}my_event_details.imposed{% endtrans %}
                                {% else %}
                                    {% trans %}my_event_details.free{% endtrans %}
                                {% endif %}</td>
                            {% if eventCourse.maxTime==0 %}
                                <td>-</td>
                            {% else %}
                                <td class="msTime">{{ eventCourse.maxTime }}</td>
                            {% endif %}
                            <td>{{ eventCourse.missingPunchPenalty }}</td>
                            <td>{{ eventCourse.overTimePenalty }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>

                <h5>{% trans %}event.info.participants{% endtrans %}</h5>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans %}my_event_details.participants.nickname{% endtrans %}</th>
                        {% if event.type == 0 or event.type == 1 %}
                            <th scope="col">{% trans %}my_event_details.participants.score_total{% endtrans %}</th>
                        {% elseif event.type ==2 %}
                            <th scope="col">{% trans %}my_event_details.participants.total_time{% endtrans %}</th>
                        {% endif %}
                        <th scope="col">{% trans %}my_event_details.participants.progress{% endtrans %}</th>
                        {% for eventCourse in eventCourses %}
                            <th scope="col">{{ eventCourse.course.name }} (PM | OT)</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if ranking["rank"]!=[] %}
                        {% for rank in range(0, ranking["rank"]|length-1) %}
                            <tr>
                                <th scope="row">{{ rank+1 }}</th>
                                <td>{{ participants.get(ranking["rank"][rank]).nickname }}</td>
                                {% if event.type == 0 or event.type == 1 %}
                                    <td>{{ ranking["totalScore"][ranking["rank"][rank]] }}</td>
                                {% elseif event.type ==2 %}
                                    <td class="msTime">{{ ranking["totalTime"][ranking["rank"][rank]] }}</td>
                                {% endif %}
                                <td>{{ ranking["progress"][ranking["rank"][rank]] }}/{{ eventCourses|length }}</td>
                                {% for eventCourse in range(0, eventCourses|length-1) %}
                                    {% if event.type == 0 or event.type == 1 %}
                                        <td>{{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][0] }}
                                            ( {{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][1] }}
                                            | {{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][2] }} )
                                        </td>
                                    {% elseif event.type ==2 %}
                                        <td>
                                            <span class="msTime">{{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][3] }}</span>
                                            ( {{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][1] }}
                                            | {{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][2] }} )
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#register">{% trans %}events.register{% endtrans %}</button>
                <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{% trans %}events.register{% endtrans %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% form_theme participantForm 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(participantForm) }}
                            <div class="modal-body">
                                {{ form_row(participantForm.nickname) }}
                            </div>
                            <div class="modal-footer">
                                <button type="submit"
                                        class="btn btn-primary">{% trans %}events.register.confirm{% endtrans %}</button>
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">{% trans %}events.register.abort{% endtrans %}</button>
                            </div>
                            {{ form_end(participantForm) }}
                        </div>
                    </div>
                </div>
                {% if success!="" %}
                    <p class="alert alert-success">
                        {% trans %}event.participant.register.success{% endtrans %}
                    </p>
                {% endif %}
                {% if error!="" %}
                    <p class="alert alert-danger">
                        {% if error=="nickname not free" %}
                            {% trans %}event.participant.register.error.notFree{% endtrans %}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/javascript/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ asset('public/bootstrap-4.5.2/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/javascript/event.js') }}"></script>
{% endblock %}