{% extends 'base.html.twig' %}

{% block title %}{% trans %}my_events.create.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container text-center" style="padding-top: 20pt">
        <h2>{% trans %}my_events.create.title{% endtrans %}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <div class=" border rounded" style="padding: 20px">
                {% form_theme eventForm 'bootstrap_4_layout.html.twig' %}
                {{ form_start(eventForm) }}
                {{ form_row(eventForm.name) }}
                {{ form_row(eventForm.type) }}
                <div id="championship-description" class="eventType-description">{% trans %}my_events.create.championship.description{% endtrans %}</div>
                <div id="points-description" class="eventType-description">{% trans %}my_events.create.points.description{% endtrans %}</div>
                <div id="cumulativeTime-description" class="eventType-description">{% trans %}my_events.create.cumulativeTime.description{% endtrans %}</div>
                <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(eventForm) }}
            </div>
        </div>
    </div>
    <script>
        function openDescription() {
            let select = document.getElementById("event_type").selectedIndex;
            let eventTypeDescription = document.getElementsByClassName("eventType-description");
            for (i = 0; i < eventTypeDescription.length; i++) {
                eventTypeDescription[i].style.display = "none";
            }
            if (select == 0) {
                document.getElementById("championship-description").style.display = "block";
            } else if (select == 1) {
                document.getElementById("points-description").style.display = "block";
            } else if (select == 2) {
                document.getElementById("cumulativeTime-description").style.display = "block";
            }
        }
        openDescription();
        document.getElementById("event_type").addEventListener("change", openDescription);

    </script>
{% endblock %}