{% extends 'base.html.twig' %}

{% block title %}{% trans %}my_events.manage.participant.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container text-center" style="padding-top: 20pt">
        <h2>{% trans %}my_events.manage.participant.title{% endtrans %} {{ event.name }}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <div class=" border rounded" style="padding: 20px">
                <a class="ml-auto btn btn-info float-left"
                   href="{{ path('my_events') }}">{% trans %}my_event.return.my_event{% endtrans %}</a>
                <br><br>
                <h5>{% trans %}my_events.manage.participant.list{% endtrans %} :</h5>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">{% trans %}my_event.manage.participant.name{% endtrans %}</th>
                        <th scope="col">{% trans %}my_events.manage.participant.delete{% endtrans %}</th>
                    </tr>
                    </thead>
                    {% for participant in participants %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ participant.nickname }}</th>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-{{ participant.id }}">{% trans %}my_events.manage.participant.delete{% endtrans %}</button>
                                <div class="modal fade" id="confirm-delete-{{ participant.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{% trans %}my_events.manage.participant.delete{% endtrans %}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% trans %}my_events.manage.participant.delete_message{% endtrans %}
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('my_event_delete_participant', {idEvent: event.id, id: participant.id}) }}" type="button" class="btn btn-secondary">{% trans %}my_events.manage.participant.delete.confirm.remove{% endtrans %}</a>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}my_events.manage.participant.delete.confirm.abort{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>

                <h5>{% trans %}my_events.manage.participant.add{% endtrans %} :</h5>
                {% form_theme participantForm 'bootstrap_4_layout.html.twig' %}
                {{ form_start(participantForm) }}
                {{ form_row(participantForm.nickname) }}
                <button type="submit" class="btn btn-primary">ajouter</button>
                {{ form_end(participantForm) }}
                {% if success!="" %}
                    <p class="alert alert-success">
                        {% trans %}event.participant.register.success{% endtrans %}
                    </p>
                {% endif %}
                {% if error!="" %}
                    <p class="alert alert-danger">
                        {% if error=="nickname not free" %}
                            {% trans %}event.participant.register.error.notFree{% endtrans %}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}