{% extends 'base.html.twig' %}

{% block title %}{% trans %}my_event_details.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container text-center" style="padding-top: 20pt">
        <h2>{{ event.name }}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <div class=" border rounded" style="padding: 20px">
                <a class="ml-auto btn btn-info float-left"
                   href="{{ path('my_events') }}">{% trans %}my_event.return.my_event{% endtrans %}</a>
                <br><br>
                <h5 style="text-align: left">{% trans %}my_event_details.event_type{% endtrans %} :
                    {% if event.type == 0 %}
                        {% trans %}my_event_details.event_type.championship{% endtrans %}
                    {% elseif event.type == 1 %}
                        {% trans %}my_event_details.event_type.points{% endtrans %}
                    {% elseif event.type == 2 %}
                        {% trans %}my_event_details.event_type.cumulativeTime{% endtrans %}
                    {% endif %}</h5>
                <h5>{% trans %}my_event_details.courses{% endtrans %} :</h5>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">{% trans %}my_event_details.courses_table.course{% endtrans %}</th>
                        <th scope="col">{% trans %}my_event_details.courses_table.order{% endtrans %}</th>
                        <th scope="col">{% trans %}my_event_details.courses_table.limit_time{% endtrans %}</th>
                        {% if event.type==0 or event.type == 1 %}
                            <th scope="col">{% trans %}my_event_details.courses_table.PM_penalty{% endtrans %}</th>
                            <th scope="col">{% trans %}my_event_details.courses_table.over_time_penalty{% endtrans %}</th>
                        {% elseif event.type==2 %}
                            <th scope="col">{% trans %}my_event_details.courses_table.PM_penalty_sec{% endtrans %}</th>
                            <th scope="col">{% trans %}my_event_details.courses_table.over_time_penalty_sec{% endtrans %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for eventCourse in eventCourses %}
                        <tr>
                            <th scope="row"><a href="{{ path('show_info', {id: eventCourse.course.id}) }}"
                                               class="ml-auto btn btn-primary">{{ eventCourse.course.name }}</a></th>
                            <td>{% if eventCourse.format == 0 %}
                                    {% trans %}my_event_details.imposed{% endtrans %}
                                {% else %}
                                    {% trans %}my_event_details.free{% endtrans %}
                                {% endif %}</td>
                            {% if eventCourse.maxTime==0 %}
                                <td>-</td>
                            {% else %}
                                <td class="msTime">{{ eventCourse.maxTime }}</td>
                            {% endif %}
                            <td>{{ eventCourse.missingPunchPenalty }}</td>
                            <td>{{ eventCourse.overTimePenalty }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h5>{% trans %}my_event_details.participants{% endtrans %} :</h5>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans %}my_event_details.participants.nickname{% endtrans %}</th>
                        {% if event.type == 0 or event.type == 1 %}
                            <th scope="col">{% trans %}my_event_details.participants.score_total{% endtrans %}</th>
                        {% elseif event.type ==2 %}
                            <th scope="col">{% trans %}my_event_details.participants.total_time{% endtrans %}</th>
                        {% endif %}
                        <th scope="col">{% trans %}my_event_details.participants.progress{% endtrans %}</th>
                        {% for eventCourse in eventCourses %}
                            <th scope="col">{{ eventCourse.course.name }} (PM | OT)</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if ranking["rank"]!=[] %}
                        {% for rank in range(0, ranking["rank"]|length-1) %}
                            <tr>
                                <th scope="row">{{ rank+1 }}</th>
                                <td>{{ participants.get(ranking["rank"][rank]).nickname }}</td>
                                {% if event.type == 0 or event.type == 1 %}
                                    <td>{{ ranking["totalScore"][ranking["rank"][rank]] }}</td>
                                {% elseif event.type ==2 %}
                                    <td class="msTime">{{ ranking["totalTime"][ranking["rank"][rank]] }}</td>
                                {% endif %}
                                <td>{{ ranking["progress"][ranking["rank"][rank]] }}/{{ eventCourses|length }}</td>
                                {% for eventCourse in range(0, eventCourses|length-1) %}
                                    {% if event.type == 0 or event.type == 1 %}
                                        <td>{{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][0] }}
                                            ( {{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][1] }}
                                            | {{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][2] }} )
                                            {% if ranking["modified"][ranking["rank"][rank]][eventCourse] %}
                                                <button type="button" class="btn btn-success" data-toggle="modal"
                                                        data-target="#modify-{{ participants.get(ranking["rank"][rank]).id }}-{{ eventCourses[eventCourse].id }}">{% trans %}my_events.modify{% endtrans %}</button>
                                            {% else %}
                                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#modify-{{ participants.get(ranking["rank"][rank]).id }}-{{ eventCourses[eventCourse].id }}">{% trans %}my_events.modify{% endtrans %}</button>
                                            {% endif %}
                                            <div class="modal fade"
                                                 id="modify-{{ participants.get(ranking["rank"][rank]).id }}-{{ eventCourses[eventCourse].id }}"
                                                 tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">{% trans %}my_events.modify{% endtrans %}</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        {% form_theme forms[ranking["rank"][rank]][eventCourse] 'bootstrap_4_layout.html.twig' %}
                                                        {{ form_start(forms[ranking["rank"][rank]][eventCourse]) }}
                                                        <div class="modal-body">
                                                            {{ form_row(forms[ranking["rank"][rank]][eventCourse].track) }}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit"
                                                                    class="btn btn-secondary">{% trans %}my_event.track.modify.confirm{% endtrans %}</button>
                                                            <button type="button" class="btn btn-primary"
                                                                    data-dismiss="modal">{% trans %}my_event.track.modify.abort{% endtrans %}</button>
                                                        </div>
                                                        {{ form_end(forms[ranking["rank"][rank]][eventCourse]) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    {% elseif event.type ==2 %}
                                        <td>
                                            <span class="msTime">{{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][3] }}</span>
                                            ({{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][1] }}
                                            |{{ ranking["eventCourse"][ranking["rank"][rank]][eventCourse][2] }})
                                            {% if ranking["modified"][ranking["rank"][rank]][eventCourse] %}
                                                <button type="button" class="btn btn-success" data-toggle="modal"
                                                        data-target="#modify-{{ participants.get(ranking["rank"][rank]).id }}-{{ eventCourses[eventCourse].id }}">{% trans %}my_events.modify{% endtrans %}</button>
                                            {% else %}
                                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#modify-{{ participants.get(ranking["rank"][rank]).id }}-{{ eventCourses[eventCourse].id }}">{% trans %}my_events.modify{% endtrans %}</button>
                                            {% endif %}
                                            <div class="modal fade"
                                                 id="modify-{{ participants.get(ranking["rank"][rank]).id }}-{{ eventCourses[eventCourse].id }}"
                                                 tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">{% trans %}my_events.modify{% endtrans %}</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        {% form_theme forms[ranking["rank"][rank]][eventCourse] 'bootstrap_4_layout.html.twig' %}
                                                        {{ form_start(forms[ranking["rank"][rank]][eventCourse]) }}
                                                        <div class="modal-body">
                                                            {{ form_row(forms[ranking["rank"][rank]][eventCourse].track) }}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit"
                                                                    class="btn btn-secondary">{% trans %}my_event.track.modify.confirm{% endtrans %}</button>
                                                            <button type="button" class="btn btn-primary"
                                                                    data-dismiss="modal">{% trans %}my_event.track.modify.abort{% endtrans %}</button>
                                                        </div>
                                                        {{ form_end(forms[ranking["rank"][rank]][eventCourse]) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#manuallySetPenalty">{% trans %}my_event_details.manuallySetPenalty{% endtrans %}</button>
                <div class="modal fade" id="manuallySetPenalty" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{% trans %}my_event_details.manuallySetPenalty{% endtrans %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% form_theme manuallySetPenaltyFormView 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(manuallySetPenaltyFormView) }}
                            <div class="modal-body">
                                {{ form_row(manuallySetPenaltyFormView.participant) }}
                                {{ form_row(manuallySetPenaltyFormView.eventCourse) }}
                                {{ form_row(manuallySetPenaltyFormView.nbPM) }}
                                {{ form_row(manuallySetPenaltyFormView.nbOT) }}
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary">
                                    {% trans %}my_event.manuallySetPenalty.confirm{% endtrans %}
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                    {% trans %}my_event.manuallySetPenalty.abort{% endtrans %}
                                </button>
                            </div>
                            {{ form_end(manuallySetPenaltyFormView) }}
                        </div>
                    </div>
                </div>
                <br><br>
                <a href="{{ path('my_event_update', {id: event.id}) }}">
                    <button class="btn btn-primary">{% trans %}my_event_details.update{% endtrans %}</button>
                </a>
                <a href="{{ path('my_event_csv', {id: event.id}) }}">
                    <button class="btn btn-info">{% trans %}my_event_details.export_csv{% endtrans %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/javascript/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ asset('public/bootstrap-4.5.2/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/javascript/event.js') }}"></script>
{% endblock %}