{% extends 'base.html.twig' %}

{% block title %}{% trans %}my_events.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container text-center" style="padding-top: 20pt">
        <h2>{% trans %}my_events.title{% endtrans %}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <ul class="list-group">
                {% for event in events %}
                <li class="list-group-item">
                    <h5>{{ event.name }}</h5>

                    <a href="{{ path('my_event_details', {id: event.id}) }}">
                        <button class="btn btn-info">{% trans %}my_events.details{% endtrans %}</button>
                    </a>

                    <a href="{{ path('my_event_courses', {id: event.id}) }}">
                        <button class="btn btn-warning">{% trans %}my_events.addCourse{% endtrans %}</button>
                    </a>
                    <a href="{{ path('my_event_participants', {id: event.id}) }}">
                        <button class="btn btn-warning">{% trans %}my_events.manageParticipant{% endtrans %}</button>
                    </a>

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-{{ event.id }}">{% trans %}my_event.delete{% endtrans %}</button>
                    <div class="modal fade" id="confirm-delete-{{ event.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{% trans %}my_event.delete{% endtrans %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% trans %}my_events.delete.delete_message{% endtrans %}
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('my_event_delete', {id: event.id}) }}" type="button" class="btn btn-secondary">{% trans %}my_events.delete.confirm.delete{% endtrans %}</a>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}my_events.delete.confirm.abort{% endtrans %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group row">
            <div class="offset-2 col-8">
                <a href="{{ path('create_my_event') }}">
                    <button class="btn btn-primary">{% trans %}my_events.add{% endtrans %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}