{% extends 'base.html.twig' %}

{% block title %}{% trans %}my_events.add_course.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container text-center" style="padding-top: 20pt">
        <h2>{% trans %}my_events.courses.title{% endtrans %} : {{ event.name }}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <div class=" border rounded" style="padding: 20px">
                <a class="ml-auto btn btn-info float-left"
                   href="{{ path('my_events') }}">{% trans %}my_event.return.my_event{% endtrans %}</a>
                <br><br>
                <h5>{% trans %}my_events.add_course.coursesList{% endtrans %} : {{ event.name }}</h5>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">{% trans %}my_event_details.courses_table.course{% endtrans %}</th>
                        <th scope="col">{% trans %}my_event_details.courses_table.order{% endtrans %}</th>
                        <th scope="col">{% trans %}my_event_details.courses_table.limit_time{% endtrans %}</th>
                        {% if event.type==0 or event.type == 1 %}
                            <th scope="col">{% trans %}my_event_details.courses_table.PM_penalty{% endtrans %}</th>
                            <th scope="col">{% trans %}my_event_details.courses_table.over_time_penalty{% endtrans %}</th>
                        {% elseif event.type==2 %}
                            <th scope="col">{% trans %}my_event_details.courses_table.PM_penalty_sec{% endtrans %}</th>
                            <th scope="col">{% trans %}my_event_details.courses_table.over_time_penalty_sec{% endtrans %}</th>
                        {% endif %}
                        <th scope="col">{% trans %}my_event_details.courses_table.modify{% endtrans %}</th>
                        <th scope="col">{% trans %}my_event_details.courses_table.remove{% endtrans %}</th>
                    </tr>
                    </thead>
                    {% for eventCourse in eventCourses %}
                        <tbody>
                        <tr>
                            <th scope="row"><a href="{{ path('show_info', {id: eventCourse.course.id}) }}"
                                               class="ml-auto btn btn-primary">{{ eventCourse.course.name }}</a></th>
                            <td>{% if eventCourse.format == 0 %}
                                    {% trans %}my_event_details.imposed{% endtrans %}
                                {% else %}
                                    {% trans %}my_event_details.free{% endtrans %}
                                {% endif %}
                            </td>
                            {% if eventCourse.maxTime==0 %}
                                <td>-</td>
                            {% else %}
                                <td class="msTime">{{ eventCourse.maxTime }}</td>
                            {% endif %}
                            <td>{{ eventCourse.missingPunchPenalty }}</td>
                            <td>{{ eventCourse.overTimePenalty }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modifyCourse{{ eventCourse.id }}">{% trans %}my_event_details.courses_table.modify{% endtrans %}</button>
                                <div class="modal fade" id="modifyCourse{{ eventCourse.id }}" tabindex="-1"
                                     role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{% trans %}my_event_details.courses_table.modify{% endtrans %}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            {% form_theme modifyEventCourseFormView[eventCourse.id] 'bootstrap_4_layout.html.twig' %}
                                            {{ form_start(modifyEventCourseFormView[eventCourse.id]) }}
                                            <div class="modal-body">
                                                {{ form_row(modifyEventCourseFormView[eventCourse.id].format) }}
                                                {{ form_row(modifyEventCourseFormView[eventCourse.id].missingPunchPenalty) }}
                                                {{ form_row(modifyEventCourseFormView[eventCourse.id].overTimePenalty) }}
                                                {{ form_row(modifyEventCourseFormView[eventCourse.id].time) }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit"
                                                        class="btn btn-primary">{% trans %}my_events.modify_course.confirm{% endtrans %}</button>
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">{% trans %}my_events.modify_course.abort{% endtrans %}</button>
                                            </div>
                                            {{ form_end(modifyEventCourseFormView[eventCourse.id]) }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#confirm-delete-{{ eventCourse.id }}">{% trans %}my_events.manage_courses.remove{% endtrans %}</button>
                                <div class="modal fade" id="confirm-delete-{{ eventCourse.id }}" tabindex="-1"
                                     role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{% trans %}my_events.manage_courses.remove{% endtrans %}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% trans %}my_events.manage_courses.remove_message{% endtrans %}
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('my_event_delete_course', {idEvent: idEvent, id: eventCourse.id}) }}"
                                                   type="button"
                                                   class="btn btn-secondary">{% trans %}my_events.manage_courses.confirm.remove{% endtrans %}</a>
                                                <button type="button" class="btn btn-primary"
                                                        data-dismiss="modal">{% trans %}my_events.manage_courses.confirm.abort{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>

                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#addNewEventCourse">{% trans %}my_events.add_course.title{% endtrans %}</button>
                <div class="modal fade" id="addNewEventCourse" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{% trans %}my_events.add_course.title{% endtrans %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% form_theme eventCourseForm 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(eventCourseForm) }}
                            <div class="modal-body">
                                {{ form_row(eventCourseForm.course) }}
                                {{ form_row(eventCourseForm.format) }}
                                {{ form_row(eventCourseForm.missingPunchPenalty) }}
                                {{ form_row(eventCourseForm.overTimePenalty) }}
                                {{ form_row(eventCourseForm.time) }}
                            </div>
                            <div class="modal-footer">
                                <button type="submit"
                                        class="btn btn-primary">{% trans %}my_events.add_course.confirm{% endtrans %}</button>
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">{% trans %}my_events.add_course.abort{% endtrans %}</button>
                            </div>
                            {{ form_end(eventCourseForm) }}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/javascript/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ asset('public/bootstrap-4.5.2/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/javascript/event.js') }}"></script>
{% endblock %}