{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 100pt; padding-bottom: 50pt;">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-primary" style="padding-bottom: 30pt">Se connecter</h3>
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                    <p></p>
                                    <a href="{{ path('app_logout') }}">
                                        <button type="button" class="btn btn-outline-primary">{% trans %}login.OK{% endtrans %}</button>
                                    </a>
                                </div>
                            {% elseif app.user %}
                                <div class="mb-3 text-center">
                                    Vous êtes déjà connecté en tant que "{{ app.user.username }}"<br>
                                    <p></p>
                                    <a href="{{ path('app_logout') }}">
                                        <button type="button" class="btn btn-outline-primary">{% trans %}login.logout{% endtrans %}</button>
                                    </a>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Identifiant *" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe *" required>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <input type="submit" class="btn btn-primary btn-md" value="Connexion">
                                </div>
                                <div id="register-link" class="text-right">
                                    <a href="{{path('reset_password')}}" class="text-primary">{%trans%}password.reset{%endtrans%}</a>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
