{% extends 'base.html.twig' %}

{% block title %}{% trans %}password.reset{% endtrans %}{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="container" style="padding-top: 20pt">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{% trans %}password.reset{% endtrans %}</h3>
                        <small>Vous allez recevoir un courriel avec votre nouveau mot de passe à l'adresse que vous avez renseignée dans votre profil.</small>
                        <hr>
                    </div>
                    {% if error is defined %}
                        <p class="alert alert-danger">{{ error }}</p>
                        {{ form_errors(form) }}
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" value="save" class="btn btn-primary">{% trans %}password.change{% endtrans %}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}