{% extends 'base.html.twig' %}

{% block title %}{% trans %}index.home{% endtrans %}{% endblock %}

{% block stylesheets %}
    <style>
        #banner {
            background-position: center center;
            background-size: cover;
            height: 28em;
            position: relative;
        }

        #banner header {
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding-top: 1em;
        }

        #banner h1 {
            color: var(--primary);
        }

        /* Wide */
        @media screen and (max-width: 1680px) {
            #banner {
                height: 24em;
            }
        }

        @media screen and (max-width: 1280px) {
            #banner {
                height: 20em;
            }
        }

        @media screen and (max-width: 980px) {
            body {
                font-size: 12pt;
            }
        }

        @media screen and (max-width: 840px) {
            html, body {
                overflow-x: hidden;
            }

            #banner {
                height: 20em;
            }
        }

        /* Mobile */
        @media screen and (max-width: 736px) {
            #banner {
                height: 18em;
            }
        }

        /* Mobile (Portrait) */
        @media screen and (max-width: 480px) {
            #banner {
                height: 16em;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <section id="banner" style="background-image: url({{ asset('/public/images/banner.jpg') }})">
        <header>
            <h1 class="mbr-section-title align-center mbr-bold pb-6 mbr-fonts-style display-4">VIKAZIMUT</h1>
        </header>
    </section>

    <main role="main">
        <div class="jumbotron" style="background-color: #FFFFFF;">
            <div class="container">
                <h2>{% trans %}homepage.app.title{% endtrans %}</h2>
                <section class="hero-area" id="home">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="hero-area-content">
                                    <p>{% trans %}homepage.app.description{% endtrans %}</p>
                                    <a href="https://play.google.com/store/apps/details?id=fr.ensicaen.vikazimut">
                                        <img class="img-responsive center-block" src="/public/images/google_play_badge.png" size="50%" alt="Your Alt Text">
                                    </a>
                                    <a href={% trans %}homepage.app.ios.download.url{% endtrans %}>
                                        <img class="img-responsive center-block" src="/public/images/app_store_badge.png" size="50%" alt="Your Alt Text">
                                    </a>
                                </div>
                                <div class="row" style="padding-top: 50px">
                                    <div class="col-lg-6">
                                        <h3 class="display-">{% trans %}homepage.app.licence.title{% endtrans %}</h3>
                                        <p>{% trans %}homepage.app.licence{% endtrans %}.</p>
                                        <p>
                                            <a href="https://gitlab.ecole.ensicaen.fr/rclouard/vikazimut-flutter">
                                                <button type="button" class="btn btn-outline-primary">{% trans %}homepage.app.source.code{% endtrans %} &raquo;</button>
                                            </a>
                                        </p>
                                        <p>
                                            <a href="https://gitlab.ecole.ensicaen.fr/rclouard/vikazimut-site">
                                                <button type="button" class="btn btn-outline-primary">{% trans %}homepage.server.source.code{% endtrans %} &raquo;</button>
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-lg-6">
                                        <h3 class="display-5">{% trans %}homepage.rules.title{% endtrans %}</h3>
                                        <p>{% trans %}homepage.rules.description{% endtrans %}</p>
                                        <a href="/public/{% trans %}homepage.uses.conditions.html{% endtrans %}">
                                            <button type="button" class="btn btn-outline-primary">{% trans %}homepage.uses.conditions{% endtrans %} &raquo;</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hand-mockup text-lg-left text-center">
                                    <img src="{{ asset('/public/images/appli.png') }}" alt="Hand Mockup" width="440">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <div class="jumbotron" style="background-color:#ffe6db" id="team">
        <div class="container pt-2">
            <h2>{% trans %}homepage.about.us.title{% endtrans %}</h2>
            <p>{% trans %}homepage.about.vikazimut{% endtrans %}</p>
            <section class="about-area ptb-90">
                <div class="container">
                    <div class="row">
                        <p>{% trans %}homepage.about.students.ensicaen{% endtrans %}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="single-about-box">
                                <i class="icofont icofont-ruler-pencil"></i>
                                <h4>2015/2016</h4>
                                <ul>
                                    <li>Florentin BLANC
                                    <li>Denis CHEN
                                    <li>Tristan FAUQUETTE
                                    <li>Annick VOLCY
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-about-box active">
                                <i class="icofont icofont-computer"></i>
                                <h4>2016/2017</h4>
                                <ul>
                                    <li>Vincent DUPLESSIS
                                    <li>Benjamin HOUX
                                    <li>Axel OLLIVIER
                                    <li>Yann PELLEGRINI
                                    <li>Elodie PROUX
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-about-box">
                                <i class="icofont icofont-headphone-alt"></i>
                                <h4>2017/2018</h4>
                                <ul>
                                    <li>Samuel ANSEL
                                    <li>Sylvain GAUVREAU
                                    <li>Antonio MANCUSO
                                    <li>Loïc PETIT
                                    <li>Clément PODEVIN
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-about-box">
                                <i class="icofont icofont-headphone-alt"></i>
                                <h4>2018/2019</h4>
                                <ul>
                                    <li>Aboubakrine NIANE</li>
                                    <li>Lauren SILVA ROLAN SAMPAIO</li>
                                    <li>Mathieu SERAPHIM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>{% trans %}homepage.about.students.unicaen{% endtrans %}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="single-about-box">
                                <i class="icofont icofont-headphone-alt"></i>
                                <h4>2019/2020</h4>
                                <ul>
                                    <li>Martin FÉAUX DE LA CROIX
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="single-about-box">
                                <i class="icofont icofont-headphone-alt"></i>
                                <h4>2020/2021</h4>
                                <ul>
                                    <li>Antoine BOITEAU</li>
                                    <li>Suliac LAVENANT</li>
                                    <li>Clémentine LEROY ({% trans %}homepage.about.app.refactor{% endtrans %})</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>{% trans %}homepage.about.tutors{% endtrans %}&nbsp;: Régis Clouard, Alain Lebret, Eric Pigeon, François Rioult.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('/public/images/vikazim_logo.png') }}" alt="logo Vikazim" height="130"/>
                <h3>{% trans %}homepage.vikazim.title{% endtrans %}</h3>
                <p>{% trans %}homepage.vikazim.description{% endtrans %}</p>
                <p><a class="btn btn-secondary" href="https://vikazim.fr/" role="button">{% trans %}read.more{% endtrans %} &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('/public/images/ensi_logo.png') }}" height="130" alt="logo ENSICAEN"/>
                <h3>{% trans %}homepage.ensicaen.title{% endtrans %}</h3>
                <p>{% trans %}homepage.ensicaen.description{% endtrans %}</p>
                <p><a class="btn btn-secondary" href="https://www.ensicaen.fr/formations/ingenieur-informatique/" role="button">{% trans %}read.more{% endtrans %} &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('/public/images/unicaen_logo.png') }}" height="130" alt="logo UNICAEN"/>
                <h3>{% trans %}homepage.unicaen.title{% endtrans %}</h3>
                <p>{% trans %}homepage.unicaen.description{% endtrans %}</p>
                <p><a class="btn btn-secondary" href="https://uniform.unicaen.fr/catalogue/formation/licences/5744-licence-informatique" role="button">{% trans %}read.more{% endtrans %} &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
