.navbar-item {
    color: white;
    padding: 5px;
    margin: 0 0.5em;
}

#nav-link-list {
    display: flex;
    margin-left: auto;
}

#big-screen-visitor-nav{
    display: none;
}

#big-screen-visitor-nav .nav-item{
    margin-right: 3em;
}

.side-nav{
    border-top: solid 1px white;
    padding: 0.1em;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-item a {
    font-size: 1.15em;
}

.custom-toggler .navbar-toggler-icon { /*generates the hamburger menu icon, editable*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255,0.85);
}

#locale-dropdown {
    position: relative;
    display: block;
    margin-left: 1em;
}

#locale-dropdown-list {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    background-color: white;
}

.locale-dropdown-item a {
    padding-right : 30px;
    font-size: 0.85em;
}

.locale-dropdown-item:hover {
    background-color: #e0e0e0;
}

#locale-dropdown:hover #locale-dropdown-list {
    display: block;
}

#locale-dropdown:hover #locale-dropdown-toggle {
    border-radius: 2px 2px 0 0;
}



@media (min-width: 1000px) {
    #big-screen-visitor-nav{
        display: flex;
    }
    #small-screen-visitor-nav{
        display: none;
    }
    #tool-nav{
        display: none;
    }
}
