{% extends 'base.html.twig' %}

{% block title %}{% trans %}admin_list_planners.title{% endtrans %}{% endblock %}

{% block body %}

    <div class="text-center">
        <div class="container" style="padding-top: 20pt">
            <h2>{% trans %}admin_list_planners.title{% endtrans %}</h2>
            <div class="alert-success" role="alert">{{ app.request.get('message') }}</div>
            <div class="overflow-auto h-50" style="max-height: 400px;">
                <ul class="list-group">
                    {% for user in users %}
                        <li class="list-group-item">
                            <h5>{{ user.username }}</h5>

                            <a href="{{ path('your_courses', {id: user.id}) }}">
                                <button class="btn btn-info">{% trans %}admin_list_planners.courses{% endtrans %}</button>
                            </a>

                            <a href="{{ path('my_events', {id: user.id}) }}">
                                <button class="btn btn-info">{% trans %}admin_list_planners.events{% endtrans %}</button>
                            </a>

                            <a href="{{ path('profile', {id: user.id}) }}">
                                <button class="btn btn-info">{% trans %}admin_list_planners.info{% endtrans %} </button>
                            </a>

                            {# Reset password #}
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#confirm-password-reset--{{ user.id }}">{% trans %}admin_list_planners.change_password{% endtrans %}</button>
                            <div class="modal fade" id="confirm-password-reset--{{ user.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans %}admin_list_planners.ask.for.password.reset.confirmation{% endtrans %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% trans %}admin_list_planners.ask.for.password.reset{% endtrans %}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('change_planner_password', {id: user.id}) }}" type="button" class="btn btn-secondary">{% trans %}admin_list_planners.confirm.password.reset{% endtrans %}</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}admin_list_planners.abort.password.reset{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Delete #}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete--{{ user.id }}">{% trans %}admin_list_planners.delete{% endtrans %}</button>
                            <div class="modal fade" id="confirm-delete--{{ user.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans %}admin_list_planners.ask.for.delete.confirmation{% endtrans %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% trans %}admin_list_planners.ask.for.deletion{% endtrans %}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('delete_user', {id: user.id}) }}" type="button" class="btn btn-secondary">{% trans %}admin_list_planners.confirm.deletion{% endtrans %}</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}admin_list_planners.abort.deletion{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container" style="padding-top: 20pt">
                <a href="{{ path('add_planner') }}">
                    <button class="btn btn-primary">{% trans %}add.user{% endtrans %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}