{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/public/css/tabs.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/leaflet/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/leaflet/easy-button.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/public/leaflet/leaflet.js') }}"></script>
    <script src="{{ asset('/public/leaflet/ImageOverlay.rotated.js') }}"></script>
    <script src="{{ asset('/public/javascript/showMap.js') }}?0.0.1"></script>
    <script src="{{ asset('/public/javascript/addCourse.js') }}"></script>
    <script src="{{ asset('/public/leaflet/easy-button.js') }}"></script>
    <script>
        let translations = {
            'number': '{{ 'xmlTab.number' | trans | escape('js') }}',
            'label': '{{ 'xmlTab.label' | trans | escape('js') }}',
            'type': '{{ 'xmlTab.type' | trans | escape('js') }}',
        }
        // init, configure variables
        let nameLengthLimit = 60;
        let clubNameLengthLimit = 30;

        let divLeaflet;
        let map;
        let overlay;
        let mapImage;
        let modify = '{{ data.modify }}';

        let isXMLProvided = modify;
        let isKMLProvided = modify;
        let isImageProvided = modify;

        let isXMLModified = false;
        let isKMLModified = false;
        let isImageModified = false;

        // inputs send files one by one and we have to receive all data at once
        function postData(preview) {
            let name = document.getElementById("name").value;
            let isNameProvided = name.length > 0;
            let nameIsTooLong = name.length > nameLengthLimit;
            let club = document.getElementById("club").value;
            let clubNameIsTooLong = club.length > clubNameLengthLimit;
            let selectedXmlCourse = isXMLModified ? parseInt(document.querySelector('input[name="course"]:checked').value) : 0;
            let startingTime = getTimeFrom("starting-day-limiter") + " " + getTimeFrom("starting-hour-limiter");
            let endingTime = getTimeFrom("ending-day-limiter") + " " + getTimeFrom("ending-hour-limiter");
            let isPrintable;
            document.getElementById('isPrintable').checked === true ? isPrintable = 1 : isPrintable = 0;
            if (isNameProvided && isXMLProvided && isKMLProvided && isImageProvided && !nameIsTooLong && !clubNameIsTooLong) {
                let formData = new FormData();
                formData.append("name", name);
                formData.append("club", club);
                formData.append("xml", isXMLModified);
                formData.append("selectedXmlCourse", selectedXmlCourse);
                formData.append("kml", isKMLModified);
                formData.append("image", isImageModified);
                formData.append("preview", preview);
                formData.append("startingTime", startingTime);
                formData.append("endingTime", endingTime);
                formData.append("printable", isPrintable);
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "{{ data.link }}");
                xhr.onload = function () {
                    let data = JSON.parse(xhr.response);
                    let errorDiv = document.getElementById("error");
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.lastChild);
                    }
                    if (preview) {
                        showPreview(data, document.getElementById("xml_preview"), document.getElementById("map_preview"), divLeaflet, map, overlay, mapImage);
                    } else {
                        if ("route" in data) {
                            window.location.assign(data.route);
                        } else {
                            let error = document.createElement("p");
                            error.setAttribute("class", "alert alert-danger");
                            error.innerHTML = data.error;
                            errorDiv.appendChild(error);
                        }
                    }
                };
                xhr.send(formData);
            } else {
                let message = "";
                if (!isNameProvided) {
                    message += '{{ 'missing.name' | trans  | escape('js') }}' + ".\n";
                }
                if (!isXMLProvided) {
                    message += '{{ 'missing.xml' | trans | escape('js') }}' + ".\n";
                }
                if (!isKMLProvided) {
                    message += '{{ 'missing.kml' | trans | escape('js') }}' + ".\n";
                }
                if (!isImageProvided) {
                    message += '{{ 'missing.image' | trans | escape('js') }}' + ".\n";
                }
                if (nameIsTooLong) {
                    message += '{{ 'too.long.course.name' | trans }}' + ".\n";
                }
                if (clubNameIsTooLong) {
                    message += '{{ 'too.long.club.name' | trans }}' + ".\n";
                }
                alert(message);
            }
        }

        function uploadFile(type) {
            let file = document.getElementById(type + '-input').files[0];
            document.getElementById(type + '-progress-container').style.display = "flex";
            document.getElementById(type + '-progress-indicator').classList.remove("bg-success");
            document.getElementById(type + '-progress-indicator').classList.remove("bg-danger");
            let formData = new FormData();
            formData.append("file", file);
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ path('upload_course_file') }}");
            xhr.upload.addEventListener("progress", function (event) {
                let ratio = Math.floor(event.loaded / event.total * 100);
                let progressBar = document.getElementById(type + '-progress-indicator');
                progressBar.style.width = ratio + "%";
                progressBar.textContent = ratio + "%";
            });
            xhr.addEventListener("load", function () {
                let progressBar = document.getElementById(type + '-progress-indicator');
                try {
                    let data = JSON.parse(this.response);
                    if (data.extension === type || (data.extension === "zip" && type === "kmz") || (type === "image" && (data.extension === "png" || data.extension === "jpg" || data.extension === "jpeg"))) {
                        progressBar.textContent = '{{ 'upload.success' | trans | escape('js') }}';
                        progressBar.style.width = "100%";
                        progressBar.classList.add("bg-success");
                        document.getElementById(type + '-label').textContent = file.name;
                        setModified(type);
                    } else {
                        progressBar.textContent = '{{ 'upload.failure' | trans | escape('js') }}';
                    }
                    if (data.extension === "xml") {
                        showCourseList(data.content);
                    }
                } catch (e) {
                    progressBar.textContent = '{{ 'upload.file.too.big' | trans | escape('js') }}';
                    progressBar.style.width = "100%";
                    progressBar.classList.add("bg-danger");
                }
            });
            xhr.send(formData);
        }

        function setModified(type) {
            switch (type) {
                case 'xml':
                    isXMLProvided = isXMLModified = true;
                    break;
                case 'kml':
                    isKMLProvided = isKMLModified = true;
                    break;
                case 'image':
                    isImageProvided = isImageModified = true;
                    break;
                case 'kmz':
                    isKMLProvided = isKMLModified = true;
                    isImageProvided = isImageModified = true;
                    break;
            }
        }

        function showCourseList(courses) {
            let list = document.getElementById("courses-list");
            while (list.hasChildNodes()) {
                list.firstChild.remove();
            }
            for (let i = 0; i < courses.length; i++) {
                let newLi = document.createElement("li");
                newLi.className = "list-group-item list-group-item-action p-0 pl-1";
                list.appendChild(newLi);

                let newInput = document.createElement("input");
                newInput.type = "radio";
                newInput.id = "xml-course-input-" + i;
                newInput.name = "course";
                newInput.value = "" + i;
                newLi.appendChild(newInput);

                let newLabel = document.createElement("label");
                newLabel.htmlFor = "xml-course-input-" + i;
                newLabel.textContent = courses[i];
                newLabel.className = "w-75 p-1";
                newLi.appendChild(newLabel);
            }
            document.getElementById("xml-course-input-0").checked = true;
            document.getElementById("course-selection").style.display = "block";
        }

        function getTimeFrom(id) {
            let input = document.getElementById(id);
            return input.type === "time" ? input.value + ":00" : input.value;
        }

        function timeSeparator(type, time) {
            if (time !== "") {
                if (type === "date") {
                    return time.split(" ")[0];
                } else if (type === "time") {
                    return time.split(" ")[1].slice(0, -3);
                }
            }
            return null;
        }

        window.addEventListener("load", function () {
            if (!modify) {
                document.getElementById("tabXml").click();
                document.getElementById("tabKmz").click();
            }
            document.getElementById("map-button").click();

            document.getElementById("starting-day-limiter").value = timeSeparator("date", '{{ data.startDate }}');
            document.getElementById("starting-hour-limiter").value = timeSeparator("time", '{{ data.startDate }}');
            document.getElementById("ending-day-limiter").value = timeSeparator("date", '{{ data.endDate }}');
            document.getElementById("ending-hour-limiter").value = timeSeparator("time", '{{ data.endDate }}');

            divLeaflet = document.createElement("div");
            map = generateMap(divLeaflet);

            overlay = L.imageOverlay.rotated("/none", L.latLng([-5, -5]), L.latLng([5, 5]), L.latLng([-5, 5]));
            overlay.addTo(map);

            mapImage = new Image(0, 0);

            let btnValidate = document.getElementById("validate");
            btnValidate.onclick = function (event) {
                event.preventDefault();
                postData(false);
            };

            let btnPreview = document.getElementById("preview");
            btnPreview.onclick = function (event) {
                event.preventDefault();
                postData(true);
                document.getElementById("preview-container").style.opacity = "100";
            };
        });
    </script>

    {% if data.name is defined %}
        <script>window.addEventListener("load", function (_) {
                document.getElementById("name").value = "{{ data.name|escape('js') }}";
                document.getElementById("club").value = "{{ data.club|escape('js') }}";
            });
        </script>
    {% endif %}
{% endblock %}

{% block title %}{{ data.title }}{% endblock %}

{% block body %}
    <div class="container" style="padding: 20pt">
        <h3>{{ data.title }}</h3>
        {% if error is defined %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="row">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">{% trans %}course.name{% endtrans %}</span>
                </div>
                <input type="text" class="form-control" id="name" placeholder="{% trans %}course.name{% endtrans %}" aria-label="name" aria-describedby="name">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">{% trans %}course.club.name{% endtrans %}</span>
                </div>
                <input type="text" class="form-control" id="club" placeholder="{% trans %}course.no.club.name{% endtrans %}" aria-label="name" aria-describedby="name">
            </div>
        </div>
        <div class="row" id="error">
        </div>
        <div class="row mb-3">
            <div class="col-xs-12 col-md-6">
                <div class="tab">
                    <button class="w-100" onclick="openTab('tabXml', 'xml-dropzone', 'xmldropzone')" id="tabXml">{% trans %}course.xml.dropzone{% endtrans %}</button>
                </div>
                <div id="xml-dropzone" class="tab-content xmldropzone">
                    <div class="input-group mt-1">
                        <div class="custom-file">
                            <input type="file" accept=".xml" class="custom-file-input" id="xml-input" oninput="uploadFile('xml')" lang="fr">
                            <label class="custom-file-label" for="xml-input" id="xml-label">{% trans %}course.select.xml.file{% endtrans %}</label>
                        </div>
                    </div>
                    <div class="progress mb-1" id="xml-progress-container" style="display: none; height: 20px;">
                        <div id="xml-progress-indicator" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="course-selection" style="display: none">
                        <p>{% trans %}course.select.course{% endtrans %} :</p>
                        <ul id="courses-list" class="list-group-flush list-group m-1">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="tab">
                    <button class="w-50 tab-links" onclick="openTab('tabKmz', 'kmz-tab', 'customDropzone')" id="tabKmz">{% trans %}course.KMZ.dropzone{% endtrans %}</button>
                    <button class="w-50 tab-links" onclick="openTab('tabKmlImage', 'kml-image-tab', 'customDropzone')" id="tabKmlImage">{% trans %}course.kml.and.image.dropzone{% endtrans %}</button>
                </div>
                <div id="kmz-tab" class="tab-content customDropzone">
                    <div id="dropzone-kmz">
                        <div class="input-group mt-1">
                            <div class="custom-file">
                                <input type="file" accept=".kmz" class="custom-file-input" id="kmz-input" oninput="uploadFile('kmz')">
                                <label class="custom-file-label" for="kmz-input" id="kmz-label">{% trans %}course.select.kmz.file{% endtrans %}</label>
                            </div>
                        </div>
                        <div class="progress mb-1" id="kmz-progress-container" style="display: none; height: 20px;">
                            <div id="kmz-progress-indicator" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div id="kml-image-tab" class="tab-content customDropzone" style="display: none">
                    <div id="dropzone-kml-image">
                        <div class="input-group mt-1">
                            <div class="custom-file">
                                <input type="file" accept=".kml" class="custom-file-input" id="kml-input" oninput="uploadFile('kml')">
                                <label class="custom-file-label" for="kml-input" id="kml-label">{% trans %}course.select.kml.file{% endtrans %}</label>
                            </div>
                        </div>
                        <div class="progress mb-1" id="kml-progress-container" style="display: none; height: 20px;">
                            <div id="kml-progress-indicator" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="input-group mt-1">
                            <div class="custom-file">
                                <input type="file" accept=".jpg, .jpeg, .png" class="custom-file-input" id="image-input" oninput="uploadFile('image')">
                                <label class="custom-file-label" for="image-input" id="image-label">{% trans %}course.select.image.file{% endtrans %}</label>
                            </div>
                        </div>
                        <div class="progress mb-1" id="image-progress-container" style="display: none; height: 20px;">
                            <div id="image-progress-indicator" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-3" id="timeLimiters">
            <div class="tab">
                <button class="w-100" onclick="openTab('tabTimeZone', 'time-selection-zone', 'timeselectionzone')" id="tabTimeZone">{% trans %}course.time.selection.zone{% endtrans %}</button>
            </div>
            <div id="time-selection-zone" class="tab-content timeselectionzone">
                <table>
                    <tr>
                        <td><label for="starting-day-limiter" style="margin-left: 0.5em;">{% trans %}course.indicate.start.day{% endtrans %}</label></td>
                        <td><input type="date" id="starting-day-limiter" style="margin-left: 0.5em; margin-right: 0.5em;"></td>
                        <td><label for="starting-hour-limiter">{% trans %}course.indicate.hour{% endtrans %}</label></td>
                        <td><input type="time" id="starting-hour-limiter" style="margin-left: 0.5em; margin-right: 0.5em;"></td>
                    </tr>
                    <tr>
                        <td><label for="ending-day-limiter" style="margin-left: 0.5em;">{% trans %}course.indicate.end.day{% endtrans %}</label></td>
                        <td><input type="date" id="ending-day-limiter" style="margin-left: 0.5em; margin-right: 0.5em;"></td>
                        <td><label for="ending-hour-limiter">{% trans %}course.indicate.hour{% endtrans %}</label></td>
                        <td><input type="time" id="ending-hour-limiter" style="margin-left: 0.5em; margin-right: 0.5em;"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row custom-control custom-switch mb-3">
            {% if data.isPrintable == true %}
                <input checked class="custom-control-input" type="checkbox" id="isPrintable">
            {% else %}
                <input class="custom-control-input" type="checkbox" id="isPrintable">
            {% endif %}
            <label class="custom-control-label" for="isPrintable"><h5>{% trans %}course.authorize.map.sharing{% endtrans %}</h5></label>
        </div>
        <div class="alert alert-primary" role="alert">
            {% trans %}course.add.use.owned.map{% endtrans %}
        </div>

        <div class="row mb-1 mt-1">
        </div>

        <div class="row">
            <div class="col text-center">
                <input type="submit" class="btn btn-success" id="validate" value="{% trans %}validate{% endtrans %}"/>
            </div>
            <div class="col text-center">
                <input type="submit" class="btn btn-primary" id="preview" value="{% trans %}preview{% endtrans %}"/>
            </div>
        </div>

        <div class="w-100 mt-2" id="preview-container" style="opacity:0;">
            <div class="tab">
                <button class="tab-links" onclick="openTab('map-button', 'map-tab', 'preview-tab')" id="map-button">{% trans %}course.add.map{% endtrans %}</button>
                <button class="tab-links" onclick="openTab('xml-button', 'xml-tab', 'preview-tab')" id="xml-button">{% trans %}course.add.control.point{% endtrans %}</button>
            </div>

            <div id="map-tab" class="tab-content preview-tab" style="position: relative">
                <button class="btn btn-primary" id="show-map" onclick="switchMapDisplay(overlay, 100)" style="position: absolute; z-index: 9999; top: 10px; right: 15px">{% trans %} course.description.mask.map {% endtrans %}</button>
                <button class="btn btn-primary" id="hide-map" onclick="switchMapDisplay(overlay, 0)" style="display:none; position: absolute; z-index: 9999; top: 10px; right: 15px">{% trans %} course.description.show.map {% endtrans %}</button>
                <div id="map_preview"></div>
            </div>
            <div id="xml-tab" class="tab-content preview-tab">
                <div id="xml_preview"></div>
            </div>
        </div>
    </div>

    <script src="{{ asset('/public/javascript/tabs.js') }}"></script>
{% endblock %}
