{% extends 'base.html.twig' %}

{% block title %}{% trans %}delete_track.title{% endtrans %}{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="container text-center" style="padding-top: 20pt">
        <h3>{% trans %}delete_track.title{% endtrans %}</h3>
        {% if form.children|length <= 1 %}
            <div class="text-center" style="margin-bottom: 20px">
                Aucune trace pour ce parcours.
            </div>
        {% else %}
            <div class="overflow-auto text-left h-50" style="margin-bottom: 20px">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="col-sm-offset-2 col-sm-10 text-center">
                    <button type="submit" value="save" class="btn btn-primary">{% trans %}delete_track.submit{% endtrans %}</button>
                    <button type="button" value="cancel" class="btn btn-outline-primary" id="select-all">{% trans %}delete_track.select_all{% endtrans %}</button>
                    <button type="button" value="cancel" class="btn btn-outline-primary" id="unselect-all">{% trans %}delete_track.unselect_all{% endtrans %}</button>
                </div>
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
    <script>
        const selectAllButton = document.getElementById("select-all");
        const unselectAllButton = document.getElementById("unselect-all");
        const inputs = document.getElementsByTagName("input");
        selectAllButton.addEventListener('click', event => {
            for (const inputName in inputs) {
                if (inputs.hasOwnProperty(inputName)) {
                    if (inputs[inputName].type === 'checkbox') {
                        inputs[inputName].checked = true;
                    }
                }
            }
        });
        unselectAllButton.addEventListener('click', event => {
            for (const inputName in inputs) {
                if (inputs.hasOwnProperty(inputName)) {
                    if (inputs[inputName].type === 'checkbox') {
                        inputs[inputName].checked = false;
                    }
                }
            }
        });
    </script>
{% endblock %}
