{% extends 'base.html.twig' %}

{% block title %}{% trans %}missing.control_point.title{% endtrans %}{% endblock %}

{% block body %}

    <div class="container text-center" style="padding-top: 20pt">
        <h2>{% trans %}missing.control_point.title{% endtrans %}</h2>
        <div class="overflow-auto h-50" style="max-height: 400px;">
            {% if missingControlPoints|length >0 %}
                <ul class="list-group">
                    {% for controlPoint in missingControlPoints %}
                        <li class="list-group-item">
                            <h3>{{ controlPoint.controlPointId }}</h3>
                            <a href="{{ path('delete_missing_control_point', {id: controlPoint.id}) }}">
                                <button class="btn btn-danger">{% trans %}delete{% endtrans %}</button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Aucune balise manquante.
            {% endif %}
        </div>
    </div>
{% endblock %}