{% extends 'base.html.twig' %}

{% block title %}{% trans %}course.preview{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/public/css/tabs.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/leaflet/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/public/leaflet/easy-button.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/public/javascript/showMap.js') }}?0.0.1"></script>
    <script src="{{ asset('/public/javascript/addCourse.js') }}"></script>
    <script src="{{ asset('/public/leaflet/leaflet.js') }}"></script>
    <script src="{{ asset('/public/leaflet/ImageOverlay.rotated.js') }}"></script>
    <script src="{{ asset('/public/leaflet/easy-button.js') }}"></script>
    <script>
        let translations = {
            'number' : '{{ 'xmlTab.number' | trans }}',
            'label' : '{{ 'xmlTab.label' | trans }}',
            'type' : '{{ 'xmlTab.type' | trans }}',
        }
        let overlay;

        window.addEventListener("load", function (event) {
            document.getElementById("map-button").click();
            let divLeaflet = document.createElement("div");
            let map = generateMap(divLeaflet);
            overlay = L.imageOverlay.rotated("/none", L.latLng([-5, -5]), L.latLng([5, 5]), L.latLng([-5, 5]));
            overlay.addTo(map);
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "{{ course }}");
            xhr.onload = function () {
                let data = JSON.parse(xhr.response);
                showPreview(data, document.getElementById("xml-div"), document.getElementById("map-div"), divLeaflet, map, overlay, new Image(0, 0));
            };
            xhr.send()
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top:20pt">
        <h3 class="text-center">{{ name }}</h3>
        <div class="col" style="width:100%">
            <div class="tab">
                <button class="tab-links" onclick="openTab('map-button', 'map-tab', 'tab-content')" id="map-button">Carte</button>
                <button class="tab-links" onclick="openTab('xml-button', 'xml-tab', 'tab-content')" id="xml-button">Balises</button>
            </div>

            <div id="map-tab" class="tab-content">
                <button class="btn btn-primary" id="show-map" onclick="switchMapDisplay(overlay, 100)" style="position: absolute; z-index: 9999; top: 60px; right: 35px">{% trans %}course.description.mask.map{% endtrans %}</button>
                <button class="btn btn-primary" id="hide-map" onclick="switchMapDisplay(overlay, 0)" style="display:none; position: absolute; z-index: 9999; top: 60px; right: 35px">{% trans %}course.description.show.map{% endtrans %}</button>
                <div id="map-div"></div>
            </div>
            <div id="xml-tab" class="tab-content">
                <div id="xml-div"></div>
            </div>
        </div>
    </div>
    <script src="{{ asset('/public/javascript/tabs.js') }}"></script>
{% endblock %}
