{% extends 'base.html.twig' %}

{% block title %}{% trans %}show_course.title{% endtrans %}{% endblock %}

{% block body %}

    <div class="container text-center" style="padding-top: 20pt">
        <h2>{% trans %}show_course.title{% endtrans %}</h2>
        <div class="overflow-auto h-50" style="margin-bottom: 20px">
            <ul class="list-group">
                {% for course in courses %}
                    <li class="list-group-item">
                        <h5>{{ course.name }}</h5>

                        {# Preview #}
                        <a href="{{ path('preview_course', {id: course.id}) }}">
                            <button class="btn btn-info">{% trans %}show_course.preview{% endtrans %}</button>
                        </a>

                        {# Clean #}
                        <a href="{{ path('delete_tracks', {id: course.id}) }}">
                            <button class="btn btn-danger">{% trans %}show_course.clean{% endtrans %}</button>
                        </a>

                        {# Modify #}
                        <a href="{{ path('add_course', {id: course.id}) }}">
                            <button class="btn btn-warning">{% trans %}show_course.modify{% endtrans %}</button>
                        </a>

                        {# Missing control #}
                        <a href="{{ path('missing_control_point', {id: course.id}) }}">
                            <button class="btn btn-info"> {{ "show_course.control_point_number"|trans({'%nb%' : course.missingControlPoints|length}) }} </button>
                        </a>

                        {# Delete #}
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-{{ course.id }}">{% trans %}show_course.delete{% endtrans %}</button>
                        <div class="modal fade" id="confirm-delete-{{ course.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sur de vouloir supprimer définitivement ce parcours ?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('delete_course', {id: course.id}) }}" type="button" class="btn btn-secondary">Oui, supprimer</a>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Non, conserver</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group row">
            <div class="offset-2 col-8">
                <a href="{{ path('add_course') }}">
                    <button class="btn btn-primary">{% trans %}course.add{% endtrans %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}