<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="{{ asset('public/images/icon.ico') }}"/>
    <title>Vikazimut - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('public/bootstrap-4.5.2/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/font-awesome-4.7.0/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/customStyle.css') }}">
    <style>
        html {
            scroll-behavior: smooth;
            padding-top: 50pt;
        }
    </style>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('/public/javascript/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ asset('/public/bootstrap-4.5.2/js/bootstrap.min.js') }}"></script>
    <script>
        function toggleSidebar(){
            let sidebar = document.getElementById("nav-sidebar");
            window.getComputedStyle(sidebar).getPropertyValue("display") === "none" ? sidebar.style.display = "block" : sidebar.style.display = "none";
        }
    </script>
</head>

<body>
<nav class="navbar navbar-nav navbar-dark fixed-top" style="background-color: #FF671F; height: 50pt;">
    <div class="container align-items-center" id="top-navbar">
        <a class="navbar-br and" href="{{ path('home') }}" style="color:white; text-decoration: none" >
            <img src="{{ asset('public/images/logo.png') }}" alt="Logo_Vikazimut" style="padding-right:10px;">
            <strong>Vikazimut</strong>
        </a>
        <ul class="nav" id="big-screen-visitor-nav">
            <li class="nav-item">
                <a class="nav-link navbar-item" href="{{ path('worldmap') }}">{% trans %}menu.item.courses{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-item" href="{{ path('events_list') }}">{% trans %}menu.item.events{% endtrans %}</a>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link navbar-item" href="{{ path('home') }}#team ">{% trans %}menu.item.us{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <div class="nav navbar-nav navbar-right" id="locale-dropdown">
                    <button class="btn btn-secondary btn-sm" id="locale-dropdown-toggle" style="margin-top: 5px;">
                        {% trans %}actual.locale{% endtrans %} ▾
                    </button>
                    <ul id="locale-dropdown-list">
                        {% for locale in supported_locales %}
                            {% if locale != app.request.locale %}
                                <li class="locale-dropdown-item"><a class="btn btn-sm" href="{{ path('change_locale', {'locale': locale}) }}">{{ supported_locales_fullname[locale] }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div id="sidebar-toggle-container" style="position: absolute; right: 13pt; top: 13pt;">
        {% if app.user %}
            <span class="navbar-item">{{ app.user.username }}</span>
        {% endif %}
        <button onclick="toggleSidebar()" class="navbar-toggler custom-toggler nav-switcher">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div id="nav-sidebar" style="display: none; position: fixed; right: 0; top: 50pt; min-width: 200px;height: 100%; background-color: #FF671F; z-index: 10000;">
    <ul class="nav flex-column side-nav" id="small-screen-visitor-nav">
        <li class="nav-item">
            <a class="nav-link navbar-item" href="{{ path('worldmap') }}">{% trans %}menu.item.courses{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-item" href="{{ path('events_list') }}">{% trans %}menu.item.events{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-item" href="{{ path('home') }}#team ">{% trans %}menu.item.us{% endtrans %}</a>
        </li>
    </ul>
    {% if app.user %}
        <ul class="nav flex-column side-nav" id="planner-nav">
            <li class="nav-item">
                <a class="nav-link navbar-item" href="{{ path('your_courses') }}">{% trans %}menu.item.your_courses{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-item" href="{{ path('my_events') }}">{% trans %}menu.item.my_event{% endtrans %}</a>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav flex-column side-nav" id="admin-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-item" href="{{ path('all_planners') }}">{% trans %}menu.item.planners{% endtrans %}</a>
                </li>
            </ul>
        {% endif %}
    {% endif %}
    <ul class="nav flex-column side-nav" id="account-nav">
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link navbar-item" href="{{ path('profile') }}">{% trans %}your.info{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-item" href="{{ path('app_logout') }}">
                    <img src="{{ asset('public/images/power.png') }}" alt="log_out_icon" style="height: 13px; width: 13px; margin-bottom: 4px;">
                    {% trans %}log.out{% endtrans %}
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link navbar-item" href="{{ path('app_login') }}">
                    <img src="{{ asset('public/images/power.png') }}" alt="log_in_icon" style="height: 13px; width: 13px; margin-bottom: 4px;">
                    {% trans %}log.in{% endtrans %}
                </a>
            </li>
        {% endif %}
    </ul>
    <ul class="nav flex-column side-nav" id="tool-nav">
        <li class="nav-item">
            <div class="nav navbar-nav navbar-right" id="locale-dropdown" style="margin-top: 0.5em;">
                <button class="btn btn-secondary btn-sm" id="locale-dropdown-toggle">
                    {% trans %}actual.locale{% endtrans %} ▾
                </button>
                <ul id="locale-dropdown-list">
                    {% for locale in supported_locales %}
                        {% if locale != app.request.locale %}
                            <li class="locale-dropdown-item"> <a class="btn btn-sm" href="{{ path('change_locale', {'locale': locale}) }}">{{ supported_locales_fullname[locale] }}</a> </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</div>

{% block body %}{% endblock %}
<footer class="container pt-1 text-muted text-left text-small">
    <p>&copy; {% trans %}copyright{% endtrans %}</p>
</footer>

{% block javascripts %}
{% endblock %}

</body>
</html>